---
---

<!DOCTYPE html>
<html>
<head>
    <title>NoLogger</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<header>
    <h1><a href="/">NoLogger</a></h1>
</header>
<br>
<main>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li>Search</li>
        </ul>

        <ul>
            <li><a href="/category/uncategory">Uncategorized articles</a></li>
        </ul>

        <ul>
            <li>
                Categorized articles
                <ul>
                    {% for nav in site.data.navigation %}
                        <li>
                            <a href="{{ nav.link }}">{{ nav.name }}</a>
                        </li>
                    {% endfor %}
                    
                </ul>
            </li>
        </ul>

        <ul>
            <li>
                Recent articles
                <ul>
                    {% for post in site.posts limit:5 %}
                    <li>
                      <a href="{{ post.url | absolute_url }}">
                        <span><small>[{{ post.date | date : "%Y-%m-%d" }}]</small></span>
                        <span><small>[{{ post.category }}]</small></span>
                        <span></span>{{ post.title }}</span>
                      </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </nav>
</main>
</body>
</html>