<nav>
    <ul>
        {% for doc in site.data.navigation %}
            {% if doc.parentId == '' %}
                {% if doc.isRoot == true %}
                    <li><div><a href="{{ doc.link }}">{{ doc.name }}</a></div></li>
                {% endif %}
                {% if doc.isRoot != true %}
                    <li>
                        <div>
                            <span>{{ doc.name }}</span>
                            {% for sub in site.data.navigation %}
                                <ul>
                                    {% if doc.id == sub.parentId %}
                                    <li><div>- <a href="{{ sub.link }}">{{ sub.name }}</a></div></li>
                                    {% endif %}
                                </ul>
                            {% endfor %}
                        </div
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</nav>