/**************************************************************
set font
***************************************************************/
@font-face {
    font-family: "tiltwrap";
    src: url("/assets/font/Tilt_Warp/TiltWarp-Regular-VariableFont_XROT,YROT.ttf") format("truetype");
}

/**************************************************************
html tag
***************************************************************/
html, body {
    margin: 20px 20px;
    max-width: 1200px;
    font-family: monospace;
    overflow: auto;
}

ul {
    list-style-type: square;
}

dd {
    border-left: 3px solid gray;
    margin-bottom: 10px;
    padding-left: 10px;
}

a {
    color: #660000;
    text-decoration: none;
}

main h1, h2, h3, h4, h5, h6 {
    margin-top: 50px;
    font-family: "tiltwrap", Georgia;
}

blockquote {
    border-left: 3px solid gray;
    padding-left: 10px;
}

p {
    margin-top: 30px;
}

table {
    border: 1px solid;
    border-collapse: collapse;
}

th, td {
    border: 1px solid;
    padding: 10px 5px;
}

th {
    background-color: lightGray;
}
/**************************************************************
custom tag
***************************************************************/
.content {
    word-wrap: break-word;
    word-break: break-all;
}

.content pre {
    overflow: auto;
}

pre.highlight {
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px 10px;
}

code.highlighter-rouge {
    color: crimson;
    border: 1px solid crimson;
    padding: 0 5px 0 5px;
    background-color: ghostwhite;
}
