html, body {
    margin: 20px 20px;
    font-family: monospace;
}

ul {
    list-style-type: square;
}

a {
    color: blue;
    text-decoration: none;
}

/* custom */
pre.highlight {
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px 10px;
}

code.highlighter-rouge {
    color: blue;
    border: 1px solid blue;
    padding: 0 5px 0 5px;
    background-color: ghostwhite;
}