---
---

<!DOCTYPE html>
<html>
<head>
  <title>NoLogger</title>
  <link type="text/css" rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<header>
  <h1><a href="/">NoLogger</a></h1>
</header>
<div class="path">
  {% assign url = "" %}
  {% for nav in site.data.navigation %}
    {% if nav.name == page.category %}
        {% assign url = nav.link %}
    {% endif %}
  {% endfor %}
  <a href="/">home</a> / <a href="{{ url }}">{{ page.category }}</a> / <a href="{{ page.url | absolute_url }}">{{ page.title }}</a>
</div>
<br>
<main>
  <div class="container">
    <div class="content">
      <div><h1 style="font-weight:100px;">【 {{ page.title }} 】</h1></div>
      <div>{{ content  }}</div>
      <div style="color:gray;float:right"><small>created at: {{ page.date | date : "%Y-%m-%d" }}</small></div>  
    </div>
  </div>
</main>
</body>
</html>